<div class="layout">
  <div [@openTodo]="isOpen ? 'open' : 'closed'"  class="todo">
    <div class="nav">
      <div *ngFor="let button of buttons; let i = index"
            [ngClass]="{'active': button.active}"
            class="btn-container"
            (click)="pressButton(i)">
          <button type="button">{{ button.title}}</button>
          <span class="bottom-line"></span>
      </div>
    </div>
    <div class="input">
      <input [(ngModel)]="missionTitle" placeholder="Add a mission" type="text">
      <div class="input-icon" (click)="addTodoList()"></div>
    </div>
    <div class="list">
      <h2>To Do</h2>
      <div *ngFor="let todo of todos; let i = index" class="list-container">
        <input [id]="'todo' + i" type="checkbox" (change)="todoChange(i)">
        <label [for]="'todo' + i" class="">{{ todo }}</label>
        <div class="tomatoes"></div>
        <div class="action" (click)="selectTodo(todo)">
          <div class="bg">
            <div class="play"></div>
          </div>
        </div>
        <div class="trigger"></div>
      </div>
    </div>
    <div class="done">
        <h2>Done</h2>
        <div *ngFor="let done of dones; let i = index" class="list-container">
          <input [id]="'done' + i" type="checkbox" [checked]="true" (change)="doneChange(i)">
          <label [for]="'done' + i" class="">{{ done }}</label>
          <div class="tomatoes"></div>
        </div>
    </div>
  </div>
  <div class="promodo">
    <div class="btn-container">
      <button class="collapse-trigger" [ngClass]="{'close': this.isOpen}" (click)="this.isOpen = !this.isOpen" type="button"></button>
    </div>
    <div class="tomato">
      <div [ngClass]="{paused: tomatoState === 'paused'}"  class="peach"></div>
      <div [ngClass]="{paused: tomatoState === 'paused'}"  class="peach"></div>
      <div class="clock">{{ timeFormat }}</div>
      <div class="action" (click)="changeState()">
        <div [ngClass]="{paused: tomatoState === 'paused'}" class="bg">
          <div [ngClass]="{paused: tomatoState === 'paused'}" class="play"></div>
        </div>
      </div>
    </div>
    <div class="description">
      <div>Ready to…</div>
      <div>{{ selectedTitle }}</div>
    </div>
  </div>
</div>
